*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body{
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	color: #000000;
}

header nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	min-height: 10vh;
	position: fixed;
	top: 0;
	z-index: 100;
}

.countries{
	color: black;
	margin: 0 auto;
}

.logo{
	width: 20%;
	margin-left: 3%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #ffffff;
}

.nav-links{
	width: 20%;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	font-size: 1.7em;
}

a{
	color: #ffffff;
}

/*CAROUSEL*/

#slider{
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

#slider > *{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slide1{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/travel2.jpeg");
	background-size: cover;
	background-position: center;
}

.slide2{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/travel1.jpeg");
	background-size: cover;
	background-position: center;
}

.slide3{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)), 
					  url("./images/travel3.jpeg");
	background-size: cover;
	background-position: center;
}

.slide4{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/travel4.jpeg");
	background-size: cover;
	background-position: center;
}

.slide5{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/travel5.jpeg");
	background-size: cover;
	background-position: center;
}

.slide-images{
	position: absolute;
	width: 100%;
	height: auto;
	z-index: -1;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}


.welcome-message{
	width: 100%;
	position: absolute;
	top: 27%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-family: 'Montserrat', sans-serif;
	font-size: 2.2em;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	letter-spacing: 0.2em;
	color: #ffffff;
}

.search-bar{
	width: 75%;
	height: 20vh;
	position: absolute;
	bottom: 25%;
	left: 50%;
	border-radius: 25px;
	padding: 0;
	padding-top: 30px;
	transform: translateX(-50%) translateY(-50%);
	background-color: rgba(0,0,0,0.5);
	white-space: nowrap;
	text-align: center;
}

.search-input{
	width: 93%;
	height: 6vh;
	display: inline-block;
	padding-left: 5%;
	border-radius: 11px;
	border: none;
	outline: none;
	font-size: 1.2em;
}

.search-btn{
	width: 10%;
	height: 6vh;
	display: inline-block;
	margin-left: -10%;
	border: none;
	outline: none;
	background: none;
	border-top-right-radius: 11px;
	border-bottom-right-radius: 11px;
	text-align: center;
	font-size: 1.2em;
	background-color: #2F80ED;
}

.search-input::placeholder{
	text-align: center;
	position: relative;
	top: 27%;
	left: 44%;
	transform: translateX(-50%) translateY(-50%);
}

.search-input:focus::placeholder{
	color: transparent;
}

#container{
	width: 85%;
	margin: 5% 15%;
}

.content-header h1{
	font-family: 'Open Sans' sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	margin-bottom: 2%;
}

.content-header p{

}

#explore-section{

}

/*COUNTRY SLIDER*/

#country-slider{
	position: relative;
	width: 85%;
	margin-top: 5%;
}

.country-slides{
	position: absolute;
	width: 100%;
	height: 67vh;
	overflow: hidden;
	z-index: -1;
	opacity: 0;
	transition: opacity 1s ease-in-out;
	cursor: pointer;
}

.spotlight-title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 2.0em;
}

.country-display{
	position: relative;
	width: 85%;
	height: 67vh;
	cursor: pointer;
}

.country-display h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #ffffff;
	font-weight: 400;
	font-size: 2.0em;
	text-transform: uppercase;
	white-space: nowrap;
}

.country-control{
	width: 85%;
	margin-top: 5%;
	padding: 3% 3%;
	overflow-x: scroll;
	white-space: nowrap;
}

.country-images{
	position: relative;
	width: 30%;
	height: 20vh;
	display: inline-block;
	margin: 0% 5%;
	cursor: pointer;
}

.country-images h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
}

.country1{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/france-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country2{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/spain-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country3{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/iceland-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country4{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/portugal-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country-slide-1{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/france-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country-slide-2{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/spain-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country-slide-3{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/iceland-cover.jpeg");
	background-size: cover;
	background-position: center;
}

.country-slide-4{
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.3)),
					  url("./images/portugal-cover.jpeg");
	background-size: cover;
	background-position: center;
}

/*END COUNTRY SLIDER*/

.explore-all-btn{

	background: #333333;
	

}

@media(min-width:500px){

	.welcome-message{
		font-size: 1.5em;
	}


}


/*JAVASCRIPT CSS*/

.show{
	opacity: 1;
	z-index: 99;
}

.hide{
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.black{
	color: #000000;
}

.red{
	color: red;
}

.nav-color{
	background-color: #000000;
	transition: background 500ms ease-in-out;
}

.nav-tranparent{
	background-color: transparent;
	transition: background 500ms ease-in-out;
}

.displayImage{
	opacity: 1;
}

.stackImage{
	z-index: -2;
}


/*END*/




.jj-black{
	position: absolute;
	color: black;
}





